body {
    font-family: monospace !important;
}

button {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

.incorrect {
    color: red;
    text-decoration: line-through;
    pointer-events: none;
}

.correct {
    color: green;
    pointer-events: none;
}

.btn-group {
    padding-bottom: 5px;
}

#hangman-string {
    letter-spacing: 5px;
}