body {
    font-family: monospace !important;
}

button {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

.incorrect {
    color: red;
    text-decoration: line-through;
    pointer-events: none;
}

.correct {
    color: green;
    pointer-events: none;
}

.btn-group {
    padding-bottom: 5px;
}

#hangman-string {
    letter-spacing: 5px;
}

@media (max-width: 768px) {
    .btn-sm {
        padding: 2px 4px;
        font-size: 50%;
        line-height: 1;
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 769px) {
    .btn-sm {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
        width: 45px;
        height: 45px;
    }
}