{% extends "bootstrap/base.html" %}

{% block title %}
    HANGMAN
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="static/js/hangman.js"></script>
{% endblock %}

{% block content %}
    <style>
        .incorrect
        {
            text-decoration: line-through;
            pointer-events: none;
            color: red;
        }
        .correct
        {
            pointer-events: none;
            color: green;
        }
    </style>

    <script>
        var secretToken = '{{ secret_token }}';
        console.log(secretToken);
    </script>

    <div class="col-md-4 col-md-offset-4">
        <h2 class="hidden" id="won">{{ won }}&nbsp;<a href="/">Again</a>?</h2>
        <h2 class="hidden" id="lost">{{ lost }}&nbsp;<a href="/">Again</a>?</h2>
        <h2 id="playing">{{ playing }}&nbsp;or try a <a href="/">Different Word</a>?</h2>
        <hr>
        {% for letter in letters_to_choose_from %}
            <div class="btn-group" role="group" aria-label="{{ letter }}" style="font-family:monospace; padding-bottom:5px">
                <button id="_{{ letter }}"
                        type="button"
                        class="btn btn-lg letter"
                        onclick="onLetterChosen('{{ letter }}')">
                    {{ letter }}
                </button>
            </div>
        {% endfor %}
        <hr>
        <h1 class="text-center" id="hangman-string" style="font-family:monospace; letter-spacing:5px">
            {{ hangman }}
        </h1>
        <hr>
        <img src="/static/img/5.png" class="img-responsive center-block"/>
    </div>

{% endblock %}