{% extends "bootstrap/base.html" %}

{% block title %}
    HANGMAN
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="static/css/hangman.css"/>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>var secretToken = '{{ secret_token }}';</script>
    <script src="static/js/hangman.js"></script>
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3 class="title hidden" id="won">{{ won }}</h3>
        <h3 class="title hidden" id="lost">{{ lost }}</h3>
        <h3 class="title" id="playing">{{ playing }}</h3>
        <hr>
        {% for character in characters_to_choose_from %}
            <div class="btn-group" role="group" aria-label="{{ character }}">
                <button id="_{{ character }}"
                        type="bu3tton"
                        class="btn btn-lg character"
                        onclick="onCharacterClicked('{{ character }}')">
                    {{ character }}
                </button>
            </div>
        {% endfor %}
        <h1 class="text-center" id="hangman-string">
            {{ hangman }}
        </h1>
        <img id="hangman-image" src="/static/img/0.png" class="img-responsive center-block"/>
        <hr>
        <button type="button"
                class="btn btn-primary btn-lg btn-block"
                onclick="onNewWordClicked()">
            New Word
        </button>
    </div>
{% endblock %}