{% extends "bootstrap/base.html" %}

{% block title %}
    HANGMAN
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="static/js/hangman.js"></script>
{% endblock %}

{% block content %}
    <style>
        .red {
            text-decoration: line-through;
            pointer-events: none;
            color: red;
        }
        .green
        {
            pointer-events: none;
            color: green;
        }
        a
        {
            color: inherit;
        }
    </style>

    <div class="col-md-4 col-md-offset-4">
        <h2 id="header">Choose a Letter...</h2>
        <hr>
        {% for letter in letters_to_choose_from %}
            <div class="btn-group" role="group" aria-label="{{ letter }}" style="font-family:monospace; padding-bottom:5px">
                <button id="{{ letter }}"
                        type="button"
                        class="btn btn-lg"
                        onclick="onLetterChosen('{{ secret }}', '{{ letter }}')">
                    {{ letter }}
                </button>
            </div>
        {% endfor %}
        <hr>
        <h1 class="text-center" id="hangman-string" style="font-family:monospace; letter-spacing:5px">
            {{ hangman }}
        </h1>
        <hr>
        <img src="/static/img/5.png" class="img-responsive center-block"/>
    </div>

{% endblock %}